sc3nb~=1.0.2

matplotlib~=3.5.1
numpy~=1.22.3
pandas>=1.3.4

ipywidgets>=7.6.5
ipython~=8.2.0

PyQt5~=5.15.6
pyqtgraph>=0.12.3

PIMS~=0.5
scikit-image~=0.19.2
av~=9.1.1

opencv-python-headless~=4.5.5.64